{% extends 'base.html' %}

{% block title %}
    | About
{% endblock title %}

{% block content %}
<div class="content" style=" background-size: cover; background-position: center center; height: 100vh; color: white; text-align: center; padding: 50px;">
    <h1 style="font-size: 36px; color:red ; margin-bottom: 20px;">About Magic Bus Todo List</h1>
    <br>
    <p style="font-size: 18px; margin-bottom: 20px; color:black;">
        <br>
        <br>
        <br>
        <strong>Magic Bus Todo List</strong> is a simple and intuitive task management application that helps you stay organized and productive.
        Manage your tasks, set priorities, and accomplish your goals with ease.
    </p>
    
    <p style="font-size: 18px; margin-bottom: 20px; color:black;">
        <br>
        <br>
        <br>
        For any inquiries or support, please contact us at <a href="mailto:navingiri9841252381@gmail.com" style="color: #28a745; text-decoration: none; font-weight: bold;">support@example.com</a>.
    </p>
</div>
{% endblock content %}






